
 .subtitle__part1 {
  animation: slideIn 0.7s ease-in both;
}

@keyframes slideIn  {
  from {
    opacity: 0;
    transform: translate(0px, 0.7em) rotate(4deg);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0%);
  }
}

.subtitle__part2  {
  animation: slideIn2 0.6s ease-in both;
}

@keyframes slideIn2  {
  from {
    opacity: 0;
    transform: translate(0px, 0.6em) rotate(3deg);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0%);
  }
}

.subtitle__part3 {
  animation: slideIn3 0.5s ease-in both;
}

@keyframes slideIn3  {
  from {
    opacity: 0;
    transform: translate(0px, 0.5em) rotate(2deg);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0%);
  }
}

.swiper-slide-next .slide-content .slide__title__link.subtitle__part1 {
  animation: next-sub-1 0.5s ease-in both !important;
}

@keyframes next-sub-1 {
  from {
    opacity: 1;
    transform: translateY(0%) rotate(0deg); 
  }
  to {
    opacity: 0;
    transform: translateY(0.6em) rotate(3deg);
  }
}

.swiper-slide-next .slide-content span.subtitle__part2 {
  animation: next-sub-2 0.6s ease-in both !important;
}

@keyframes next-sub-2 {
  from {
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
  }
  to {
    opacity: 0;
    transform: translateY(0.5em) rotate(1deg);
  }
}

.swiper-slide-next .slide-content span.subtitle__part3 {
  animation: next-sub-3 0.7s ease-in both !important;
}

@keyframes next-sub-3 {
  from {
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
  }
  to {
    opacity: 0;
    transform: translateY(0.5em) rotate(1deg);
  }
}

.swiper-slide-prev .slide-content .slide__title__link.subtitle__part1 {
  animation: prev-sub-1 0.7s ease-in both !important;
}

@keyframes prev-sub-1 {
  from {
    opacity: 1;
    transform: translateY(0%) rotate(0deg); 
  }
  to {
    opacity: 0;
    transform: translateY(-0.6em) rotate(-3deg);
  }
} 

.swiper-slide-prev .slide-content span.subtitle__part2 {
  animation: prev-sub-2 0.8s ease-in both !important;
}

@keyframes prev-sub-2 {
  from {
    opacity: 1;
    transform: translateY(0%) rotate(0deg); 
  }
  to {
    opacity: 0;
    transform: translateY(-0.5em) rotate(-2deg);
  }
}

.swiper-slide-prev .slide-content span.subtitle__part3 {
  animation: prev-sub-3 9s ease-in both !important;
} 

@keyframes prev-sub-3 {
  from {
    opacity: 1;
    transform: translateY(0%) rotate(0deg); 
  }
  to {
    opacity: 0;
    transform: translateY(-0.4em) rotate(-1deg);
  }
} 

