body, h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #000; */
  overflow-x: hidden; 
  overflow-y: hidden; 
}

html,
body {
  position: relative;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

a, button, input, *[tabindex] {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Navegadores padrão */
}

img, a img {
  outline: none;
}


* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js [data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
  .container {
    max-width: 1800px;
    margin: 0 auto;
  }
}