.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper .swiper-slide {
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.swiper-slide.com-imagem-de-fundo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.slide-background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  animation: fadeInBackground 1.5s ease-out forwards;
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}

@keyframes fadeOutBackground {
  0% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

