@font-face {
    font-family: 'Akzidenz-Grotesk Pro Bold Cnd';
    src: url('/fonts/AkzidenzGroteskPro-BoldCnIt.eot');
    src: local('Akzidenz-Grotesk Pro BoldCndIt'), local('/fonts/AkzidenzGroteskPro-BoldCnIt'),
        url('/fonts/AkzidenzGroteskPro-BoldCnIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-BoldCnIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-BoldCnIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-BoldCnIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Bold Ext';
    src: url('/fonts/AkzidenzGroteskPro-BoldExIt.eot');
    src: local('Akzidenz-Grotesk Pro BoldExtIt'), local('/fonts/AkzidenzGroteskPro-BoldExIt'),
        url('/fonts/AkzidenzGroteskPro-BoldExIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-BoldExIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-BoldExIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-BoldExIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Cnd';
    src: url('/fonts/AkzidenzGroteskPro-Cn.eot');
    src: local('Akzidenz-Grotesk Pro Cnd'), local('/fonts/AkzidenzGroteskPro-Cn'),
        url('/fonts/AkzidenzGroteskPro-Cn.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-Cn.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-Cn.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-Cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('/fonts/AkzidenzGroteskPro-Bold.eot');
    src: local('Akzidenz-Grotesk Pro Bold'), local('/fonts/AkzidenzGroteskPro-Bold'),
        url('/fonts/AkzidenzGroteskPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-Bold.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-Bold.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Light Cnd';
    src: url('/fonts/AkzidenzGroteskPro-LightCnItalic.eot');
    src: local('Akzidenz-Grotesk Pro LightCndIt'), local('/fonts/AkzidenzGroteskPro-LightCnItalic'),
        url('/fonts/AkzidenzGroteskPro-LightCnItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-LightCnItalic.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-LightCnItalic.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-LightCnItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Light Ext';
    src: url('/fonts/AkzidenzGroteskPro-LightEx.eot');
    src: local('Akzidenz-Grotesk Pro Light Ext'), local('/fonts/AkzidenzGroteskPro-LightEx'),
        url('/fonts/AkzidenzGroteskPro-LightEx.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-LightEx.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-LightEx.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-LightEx.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med Ext';
    src: url('/fonts/AkzidenzGroteskPro-MdEx.eot');
    src: local('Akzidenz-Grotesk Pro Med Ext'), local('/fonts/AkzidenzGroteskPro-MdEx'),
        url('/fonts/AkzidenzGroteskPro-MdEx.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-MdEx.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-MdEx.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-MdEx.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Cnd';
    src: url('/fonts/AkzidenzGroteskPro-CnIt.eot');
    src: local('Akzidenz-Grotesk Pro CndIt'), local('/fonts/AkzidenzGroteskPro-CnIt'),
        url('/fonts/AkzidenzGroteskPro-CnIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-CnIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-CnIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-CnIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('/fonts/AkzidenzGroteskPro-Light.eot');
    src: local('Akzidenz-Grotesk Pro Light'), local('/fonts/AkzidenzGroteskPro-Light'),
        url('/fonts/AkzidenzGroteskPro-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-Light.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-Light.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Bold Cnd';
    src: url('/fonts/AkzidenzGroteskPro-BoldCn.eot');
    src: local('Akzidenz-Grotesk Pro Bold Cnd'), local('/fonts/AkzidenzGroteskPro-BoldCn'),
        url('/fonts/AkzidenzGroteskPro-BoldCn.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-BoldCn.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-BoldCn.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-BoldCn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro XBd Cnd';
    src: url('/fonts/AkzidenzGroteskPro-XBdCnIt.eot');
    src: local('Akzidenz-Grotesk Pro XBdCndIt'), local('/fonts/AkzidenzGroteskPro-XBdCnIt'),
        url('/fonts/AkzidenzGroteskPro-XBdCnIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-XBdCnIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-XBdCnIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-XBdCnIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Super';
    src: url('/fonts/AkzidenzGroteskPro-Super.eot');
    src: local('Akzidenz-Grotesk Pro Super'), local('/fonts/AkzidenzGroteskPro-Super'),
        url('/fonts/AkzidenzGroteskPro-Super.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-Super.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-Super.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med';
    src: url('/fonts/AkzidenzGroteskPro-Md.eot');
    src: local('Akzidenz-Grotesk Pro Med'), local('/fonts/AkzidenzGroteskPro-Md'),
        url('/fonts/AkzidenzGroteskPro-Md.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-Md.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-Md.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Ext';
    src: url('/fonts/AkzidenzGroteskPro-ExtItalic.eot');
    src: local('Akzidenz-Grotesk Pro ExtItalic'), local('/fonts/AkzidenzGroteskPro-ExtItalic'),
        url('/fonts/AkzidenzGroteskPro-ExtItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-ExtItalic.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-ExtItalic.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-ExtItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med';
    src: url('/fonts/AkzidenzGroteskPro-MdIt.eot');
    src: local('Akzidenz-Grotesk Pro MedItal'), local('/fonts/AkzidenzGroteskPro-MdIt'),
        url('/fonts/AkzidenzGroteskPro-MdIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-MdIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-MdIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-MdIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('/fonts/AkzidenzGroteskPro-It.eot');
    src: local('Akzidenz-Grotesk Pro Italic'), local('/fonts/AkzidenzGroteskPro-It'),
        url('/fonts/AkzidenzGroteskPro-It.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-It.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-It.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('/fonts/AkzidenzGroteskPro-XBdIt.eot');
    src: local('Akzidenz-Grotesk Pro ExtraBldIt'), local('/fonts/AkzidenzGroteskPro-XBdIt'),
        url('/fonts/AkzidenzGroteskPro-XBdIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-XBdIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-XBdIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-XBdIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Bold Ext';
    src: url('/fonts/AkzidenzGroteskPro-BoldEx.eot');
    src: local('Akzidenz-Grotesk Pro Bold Ext'), local('/fonts/AkzidenzGroteskPro-BoldEx'),
        url('/fonts/AkzidenzGroteskPro-BoldEx.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-BoldEx.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-BoldEx.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-BoldEx.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med Cnd';
    src: url('/fonts/AkzidenzGroteskPro-MdCnIt.eot');
    src: local('Akzidenz-Grotesk Pro MedCndIt'), local('/fonts/AkzidenzGroteskPro-MdCnIt'),
        url('/fonts/AkzidenzGroteskPro-MdCnIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-MdCnIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-MdCnIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-MdCnIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('/fonts/AkzidenzGroteskPro-BoldIt.eot');
    src: local('Akzidenz-Grotesk Pro BoldIt'), local('/fonts/AkzidenzGroteskPro-BoldIt'),
        url('/fonts/AkzidenzGroteskPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-BoldIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-BoldIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('/fonts/AkzidenzGroteskPro-XBd.eot');
    src: local('Akzidenz-Grotesk Pro ExtraBold'), local('/fonts/AkzidenzGroteskPro-XBd'),
        url('/fonts/AkzidenzGroteskPro-XBd.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-XBd.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-XBd.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-XBd.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Light Cnd';
    src: url('/fonts/AkzidenzGroteskPro-LightCn.eot');
    src: local('Akzidenz-Grotesk Pro Light Cnd'), local('/fonts/AkzidenzGroteskPro-LightCn'),
        url('/fonts/AkzidenzGroteskPro-LightCn.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-LightCn.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-LightCn.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-LightCn.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med Ext';
    src: url('/fonts/AkzidenzGroteskPro-MedExtIt.eot');
    src: local('Akzidenz-Grotesk Pro MedExtIt'), local('/fonts/AkzidenzGroteskPro-MedExtIt'),
        url('/fonts/AkzidenzGroteskPro-MedExtIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-MedExtIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-MedExtIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-MedExtIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Super';
    src: url('/fonts/AkzidenzGroteskPro-SuperItalic.eot');
    src: local('Akzidenz-Grotesk Pro SuperIt'), local('/fonts/AkzidenzGroteskPro-SuperItalic'),
        url('/fonts/AkzidenzGroteskPro-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-SuperItalic.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-SuperItalic.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-SuperItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Ext';
    src: url('/fonts/AkzidenzGroteskPro-Ext.eot');
    src: local('Akzidenz-Grotesk Pro Ext'), local('/fonts/AkzidenzGroteskPro-Ext'),
        url('/fonts/AkzidenzGroteskPro-Ext.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-Ext.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-Ext.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-Ext.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro XBd Cnd';
    src: url('/fonts/AkzidenzGroteskPro-XBdCn.eot');
    src: local('Akzidenz-Grotesk Pro XBd Cnd'), local('/fonts/AkzidenzGroteskPro-XBdCn'),
        url('/fonts/AkzidenzGroteskPro-XBdCn.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-XBdCn.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-XBdCn.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-XBdCn.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('/fonts/AkzidenzGroteskPro-Regular.eot');
    src: local('Akzidenz-Grotesk Pro Regular'), local('/fonts/AkzidenzGroteskPro-Regular'),
        url('/fonts/AkzidenzGroteskPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-Regular.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-Regular.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Med Cnd';
    src: url('/fonts/AkzidenzGroteskPro-MdCn.eot');
    src: local('Akzidenz-Grotesk Pro Med Cnd'), local('/fonts/AkzidenzGroteskPro-MdCn'),
        url('/fonts/AkzidenzGroteskPro-MdCn.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-MdCn.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-MdCn.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-MdCn.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: url('/fonts/AkzidenzGroteskPro-LightIt.eot');
    src: local('Akzidenz-Grotesk Pro LightIt'), local('/fonts/AkzidenzGroteskPro-LightIt'),
        url('/fonts/AkzidenzGroteskPro-LightIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-LightIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-LightIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Pro Light Ext';
    src: url('/fonts/AkzidenzGroteskPro-LigExtIt.eot');
    src: local('Akzidenz-Grotesk Pro LightExtIt'), local('/fonts/AkzidenzGroteskPro-LigExtIt'),
        url('/fonts/AkzidenzGroteskPro-LigExtIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidenzGroteskPro-LigExtIt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-LigExtIt.woff') format('woff'),
        url('/fonts/AkzidenzGroteskPro-LigExtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

