:root {
  --textwhite: #fff;
  --text: #0F0F0F;
  --bg: #ffffff;
  --textcontrast: #64d97b;
  --text5: hsl(240, 10%, 18%, 5%);
  --text10: hsl(240, 10%, 18%, 10%);
  --text15: hsl(240, 10%, 18%, 15%);
  --text20: hsl(240, 10%, 18%, 20%);
  --text25: hsl(240, 10%, 18%, 25%);
  --text30: hsl(240, 10%, 18%, 30%);
  --text35: hsl(240, 10%, 18%, 35%);
  --text40: hsl(240, 10%, 18%, 40%);
  --text45: hsl(240, 10%, 18%, 45%);
  --text50: hsl(240, 10%, 18%, 50%);
  --text55: hsl(240, 10%, 18%, 55%);
  --text60: hsl(240, 10%, 18%, 60%);
  --text65: hsl(240, 10%, 18%, 65%);
  --text70: hsl(240, 10%, 18%, 70%);
  --text75: hsl(240, 10%, 18%, 75%);
  --text80: hsl(240, 10%, 18%, 80%);
  --text85: hsl(240, 10%, 18%, 85%);
  --text90: hsl(240, 10%, 18%, 90%);
  --text95: hsl(240, 10%, 18%, 95%);
  --bg5:hsl(0, 0, 0, 5%);
}

/* Text Color */
.text {
  color: var(--text);
}

.textwhite {
  color: #fff;
}

/* Background Color */
.bg {
  background-color: var(--bg);
}

/* Primary Color */
.primary {
  color: var(--primary);
}

/* Secondary Color */
.secondary {
  color: var(--secondary);
}

/* Accent Color */
.accent {
  color: var(--accent);
}

/* Text Contrast Color */
.textcontrast {
  color: var(--textcontrast);
}

/* Text Shades */
.text5 {
  color: var(--text5);
}

.text10 {
  color: var(--text10);
}

.text15 {
  color: var(--text15);
}

.text20 {
  color: var(--text20);
}

.text25 {
  color: var(--text25);
}

.text30 {
  color: var(--text30);
}

.text35 {
  color: var(--text35);
}

.text40 {
  color: var(--text40);
}

.text45 {
  color: var(--text45);
}

.text50 {
  color: var(--text50);
}

.text55 {
  color: var(--text55);
}

.text60 {
  color: var(--text60);
}

.text65 {
  color: var(--text65);
}

.text70 {
  color: var(--text70);
}

.text75 {
  color: var(--text75);
}

.text80 {
  color: var(--text80);
}

.text85 {
  color: var(--text85);
}

.text90 {
  color: var(--text90);
}

.text95 {
  color: var(--text95);
}

/* Bg Shades */
.bg5 {
  color: var(--bg5);
}