[data-menu="button"] {
  display: none;
}

.js [data-menu="instagram"]  {
  display: none
}

.js [data-menu="email"]  {
  display: none
}

@media (max-width: 700px) {

  .js [data-menu="button"] {
    display: flex;
    background: none;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 300 'Inter', sans;
    color: var(--text);
    cursor: pointer;
    padding: 1.2rem;
    margin: -0.6rem;
    align-items: center;
    position: relative;
    z-index: 300;
  }

  .js [data-menu="button"].active {
    color: var(--bg);
  }
  
  #hamburguer {
    width: 30px;   
    height: 30px;    
    border-radius: 50%;
    border: none;    
    background-color: var(--text); 
    color: var(--text);      
    text-align: center;
    line-height: 30px; 
    font-size: 14px;   
    cursor: pointer;   
  }

  #hamburguer.white-color {
    background-color: var(--bg); 
    color: var(--bg); 
  }  

  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
    display: none;  
  }
  
  .js [data-menu="button"].active #hamburguer {
    background-color: var(--bg); 
  }

  .js [data-menu="list"]  {
    visibility: hidden; /* em vez de display: none para permitir animações */
    opacity: 0; /* Comece completamente transparente */

    position: absolute;
    width: 100vw;
    top: 0;
    right: 0px;
    text-align: center;
    z-index: 1;
    height: 100vh;
    background-color: var(--text);
  }

  .js [data-menu="list"] a {
    font: 300 1.4rem/1 "Inter", sans-serif;    
    display: flex;
    align-items: center;
    color: var(--bg);
    margin-left: 15px;
    width: 100vw;
  }

  .js [data-menu="list"] li {
    width: 100%;
    position: relative;
  }

  .js [data-menu="list"] li:last-child::after {
    display: none;
  }

  .js [data-menu="list"].active{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5rem
  }

  .nav__menu__projetos-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 36px;
  }

  .menu .nav__menu__projetos-mobile li {
    font: 300 1.4rem/1 "Inter", sans-serif;  
    color: #B4B4B4;
    text-align: left;  
    margin: 0;
  }

  .menu__mobile__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
  }

  .menu__mobile__footer a {
    padding: 0;
  }

  .js [data-menu="email"].active, .js [data-menu="email"].active {
    display: none;
    }
  
  .js [data-menu="instagram"].active  {
    background-image: url('../img/instagram.svg');
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1.2rem;
    height: 31px;
    width: 31px;
  }
  
  .js [data-menu="email"].active {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.6rem;
    margin: 0;
    color: var(--bg);
    font: 400 1.085rem/1.2 "Inter", sans-serif; 
    }
  
  .js [data-menu="instagram"].active  {
    display: block;
    height: 31px;
    width: 31px;
  }

  #botao-down.active,
  #botao-voltar.active {
    display: none;
  }
}