.slide-content-project {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70vw;
  z-index: 2;
  overflow: hidden;
}

li span {
  white-space: nowrap; /* Isso evita quebra de linha e espaço indesejado */
}

.subtitle__part1.project__name {
  color: var(--bg);
  font: 10rem/1 "Inter", sans-serif;
}

.bio__project {
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.bio__project ul {
  font: 1rem/1.6 "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 60px;
}

.bio__project li {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  max-width: 20ch;
}

.bio__project p {
  font: 1rem/1.6 "Inter", sans-serif;
  max-width: 100ch;
  margin-left: 0;
}

.detalhes__project ul {
  font: 1rem/1.6 "Inter", sans-serif;
}

.detalhes__project li {
  margin-bottom: 0.8rem;}

.photos__grid__2  {
  display: flex;
  flex-wrap: nowrap;
}

.photos__grid, .photos__grid__2 {
  height: 100vh;
  width: 100vw;
}

.photos__grid__2 img{
  width: 50vw;
  height: 100vh;
  object-fit: cover; 
}

.photos__grid img {
  width: 100vw; 
  height: 100vh;
  object-fit: cover; 
}

.photos__grid::before, .photos__grid__2::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text20);
  z-index: 999;
}

.bio__project ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bio__project li {
  margin-bottom: 10px;
}

.expand-btn, .collapse-btn {
  display: none; /* Esconde os botões em telas não móveis */
}

@media (max-width: 800px) {

  .slide-content-project {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80vw;
  }

  .bio__project, .detalhes__project {
   justify-content: center;
   gap: 10px;
   width: 78vw;
   margin-left: 0.6rem;
  }

  .subtitle__part1.project__name {
    font: 4rem/1 "Inter", sans-serif;
    max-width: 20ch;
    margin-left: 0.6rem;
    color: var(--bg);
  }

  .bio__project p {
    font: 1rem/1.3 "Inter", sans-serif;
  }

  .bio__project ul {
    flex-direction: column;
    gap: 4px;  
  }

  .bio__project li {
    flex-direction: row;
    gap: 8px;  
    max-width: none;
  }

  .photos__grid__2 {
    flex-wrap: wrap;
    height: 100vh;
  }

  .photos__grid__2 img {
    height: 50vh;
    width: 100vw;
    object-fit: cover; 
  }

  .bio__project p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .expand-btn {
    font: 0.9rem/1.1 "Inter", sans-serif;
    display: block;
    cursor: pointer;
    text-decoration: underline;
  }

  .bio__project.expanded p {
      -webkit-line-clamp: none;
      cursor: default;
  }

  .bio__project.expanded .expand-btn {
      display: none;
  }

  .bio__project.expanded.collapse-btn {
      display: flex;
      justify-content: flex-end;
  }

  .collapse-btn {
    align-items: center;
    align-self: flex-start;
    text-decoration: underline;
    color: var(--text);
    border: none;
    background-color: var(--bg);
    padding: 4px;
    /* border: solid 1px var(--text); */
    display: none; /* Inicialmente escondido */
    /* width: 30%; */
  }
}