.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper .swiper-slide {
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
  overflow: hidden; /* Evitar rolagem interna nos slides */
}

.swiper-slide.com-imagem-de-fundo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.swiper-slide .slide-content-position {
  overflow: hidden;
}

.slide-background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}