.font-xs {
  font: 300 0.75rem/1.35 'Akzidenz-Grotesk Pro Bold Cnd', sans-serif;
}

.font-s, .font-s-b {
  font: 300 1rem/1.5 'Akzidenz-Grotesk Pro Bold Cnd', sans-serif;
}

.font-s-b {
  font-weight: 500;
}

.font-m {
  font: 300 1.25rem/1.2 'Akzidenz-Grotesk Pro Bold Cnd', sans-serif;
}

.font-m-b {
  font: 500 1.125rem/1.35 'Akzidenz-Grotesk Pro Bold Cnd', sans-serif;
}

.font-l {
  font: 300 1.5rem/1.5 'Akzidenz-Grotesk Pro Bold Cnd', sans-serif;
}

.font-l-b {
  font: 500 1.5rem/1.5 'Akzidenz-Grotesk Pro Bold Cnd', sans-serif;
}

.font-xl, .font-xl-b {
  font: 500 2rem/1.25 'Akzidenz-Grotesk Pro Bold Cnd', sans-serif;
}

.font-xl-b {
 font-weight: 500;
}

.font-xxl {
  font: 500 4rem/1.125 'Akzidenz-Grotesk Pro Bold Cnd', sans-serif;
}

@media (max-width: 1200px) {
  .font-xxl {
    font-size: 3rem;
  }
  .font-l {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .font-xxl {
    font-size: 2rem;
  }
  .font-xl {
    font-size: 1.5rem;
  }
}